:root {
    --primary: #038391;
    --primary-light: #04C8DE;
    --secondary: #de9e1b;
    --secordary-dark: #91650a;
    --accent: #de351b;
    --accent-dark: #911c0a;
    --black: #001214;
    --white: #EBFDFF;
    --linear-gradient: linear-gradient(180deg, #002D37 0%, #049FB1 78.13%, #E2E2E2 100%);
}

html * {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    background: var(--linear-gradient);
    font-family: Helvetica, sans-serif;
    min-height: 100vh;
    margin: auto;
}
/* HEADER */

header {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-sq {
    margin-top: 2rem;
    margin-bottom: .5rem;
    width: 160px;
}

h1 {
    font-size: 48px;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}

/* MAIN */

main {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chip {
    background-color: var(--secondary);
    color: var(--black);
    display: flex-item;
    margin-bottom: .5rem;
    padding: 1.75rem;
    border: 2px solid black;
    border-radius: 40px;
    font-size: 18px;
    line-height: 0px; 
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 280px;
    transition: background 0.3s;
}

.chip:hover {
    background: var(--white);
}

footer {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: var(--white);
    text-align: center;
}
