:root {
    --primary: #038391;
    --primary-light: #04C8DE;
    --secondary: #de9e1b;
    --secordary-dark: #91650a;
    --accent: #de351b;
    --accent-dark: #911c0a;
    --black: #001214;
    --white: #EBFDFF;
    --linear-gradient: linear-gradient(180deg, #002D37 0%, #049FB1 78.13%, #E2E2E2 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--linear-gradient);
  display: flex;
}
/* HEADER */

.container {
  color: var(--white);
  font-family: Helvetica, sans-serif;
  text-align: center;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 2rem;
  padding-top: 4rem;
  padding-left: 12px;
  padding-right: 12px;
}

.logo-sq {
/* border-radis: 50% */
width: 160px;
}

h1 {
font-size: 48px;
margin-top: 12px;
margin-bottom: 28px;
display: block;
}

.links {
margin-bottom: 36px;
font-size: 20spx;
}

.chip {
background-color: var(--secondary);
color: var(--black);
padding: 18px;
border: 2px solid black;
border-radius: 50px;
margin: 12px auto;
display: block;
text-decoration: none;
text-transform: uppercase;
height: 64px;
max-width: 320px;
transition: background 0.3s;
}

.chip:hover {
background: var(--white);
}

footer {
   color: var(--black);
}